<div id = "all">
    <p>We are located at the following address:</p>
    <body>Opticians,<br />Aungier Street,<br />Dublin 2,<br />Ireland.<br /><br />
    </body>
    <iframe src="/google_map/index/?lat=53.33844&lon=-6.26626&zoom=15" width="500" height="500"></iframe>
</div>