<div id = "all">
<%if signed_in?%>
  <table>
    <tr>
     <td>
         <h1>Hi <%= @current_patient.firstname %>!</h1>
         <p>Please fill in form to make an appointment</p>
        <%= render '/appointments/form' %>
     </td>
    <br/>
    </tr>
 </table>
  <%else%>
    <br \>
    <h1>Welcome</h1>
    
    <p>Please sign in to make an appointment</p>
    <table border = "0" bgcolor = "#DC631B">
    <tr><td nowrap="nowrap" valign="top" height="32" align="left">
    <%= render '/sessions/new' %>
    <%= button_to "Register", new_patient_path, :method => :get %>
    </table>
<%end%>
</div>